
/** color **/

$white: #ffffff;
$grey:#cccccc;
$grey-1:#dadada;
$grey-2:#a8a8a8;
$grey-3:#676a72;
$grey-4:#4e5055;
$grey-5:#f9f9f9;
$grey-6:#f0f6fa;
$blue-1:#47a1f8;
$blue-2:#898bf5;
$red-1:#d2331f;
$red-2:#faeae8;
$brown-1:#383134;
$green:#58bf9e;
